body {
  margin-top: 8%;
  padding: 0;
  background: #191919;
  font-family: "Coiny", cursive;
}
.btn {
  border: 0;
  background: #2ecc71;
  display: block;
  margin: 5px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 10px 15px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  font-size: 10px;
  font-family: "Coiny", serif;
  top: 5px;
  left: 15px;
  position: absolute;
}
.Container {
  background: white;
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 50px 50px;
}
.h1 {
  color: #2ecc71;
  font-weight: 500;
  margin-top: 10px;
}
.input1 {
  border: 0;
  background: none;
  display: block;
  margin: 0px auto;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
  border: 2px solid gray;
  padding: 5px 10px;
  width: 200px;
  outline: none;
  color: black;
  font-size: 16px;
  border-radius: 24px;
  transition: 0.25s;
}
.container input[type="text"]:focus,
.container input[type="password"]:focus {
  width: 280px;
  border-color: #2ecc71;
}
.sub {
  border: 0;
  background: #2ecc71;
  display: block;
  margin: 0px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 10px 25px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  font-size: 17px;
  font-family: "Coiny", serif;
}
.container input[type="submit"]:hover {
  background: #2ecc71;
}

.wrapper {
  display: inline-flex;
  background: #fff;
  height: 100%;
  width: 90%;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.wrapper .option {
  background: #fff;
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot {
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0069d9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"] {
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2 {
  border-color: #0069d9;
  background: #0069d9;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot {
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before {
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span {
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span {
  color: #fff;
}